@{
    ViewBag.Title = "Activation";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}


<section class="section-account parallax bg-11">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register">
            <div class="text text-center">
                <h2 style="color:green">@ViewBag.success</h2>
                <h2 style="color:red">@ViewBag.error</h2>
            </div>
        </div>
    </div>
</section>
<!-- END / ACCOUNT -->
