
@{
    ViewBag.Title = "privacy";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

     <!-- SUB BANNER -->
<section class="section-sub-banner bg-9">
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>Privacy</h2>
                @*<p>Lorem Ipsum is simply dummy text of the printing</p>*@
            </div>
        </div>

    </div>

</section>
<!-- END / SUB BANNER -->

<!-- ACCOMD ODATIONS -->
<section class="section-accomd awe-parallax bg-14">
    <div class="container">
        <div class="accomd-modations">
            <div class="row">
                <div class="col-md-12">
                    <div class="accomd-modations-header">
                        <h2 class="heading">Realty Space Privacy Policy</h2>
                        <img src="~/images/icon-accmod.png" alt="icon">
                        <p style="max-width:800px;">
                            <h3> Växjö Estate ("Växjö Estate", we or us) are committed to protecting and respecting your privacy.</h3>

                        <p>
                            <h6>
                                This policy (together with our terms of use and any other documents referred to in it) sets out the basis on
                                which any personal information we collect from you, or that you provide to us, will be processed by us.<br />
                                Please read the following carefully to understand our views and practices regarding your personal information and how we will treat it.
                                By visiting this website you are accepting and consenting to the practices described in this policy.<br />
                                We may amend this privacy policy at any time. Any changes we may make will be posted on this page, so please check back frequently.
                                Your continued use of our website(s) will constitute your acceptance of, and agreement to, any changes to the privacy policy.
                            </h6>
                        </p>                      
                        <p>
                            <h6>
                                For the purpose of the Data Protection Act 1998 (the Act), the data controller is Storgaten Växjö, Sweden.
                            </h6>
                        </p>
                        <h2> <b>Your rights</b></h2>
                        You have the right to ask us not to process your personal information for marketing purposes.
                        You can exercise your right to prevent such processing by checking or unchecking certain boxes on the forms we use to collect your data,
                        unsubscribing via any marketing emails we send or amending your details in Växjö Estate.

                        Our website may, from time to time, contain links to and from the websites of our partner networks, advertisers, affiliates or other third parties.
                        If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or
                        liability for these policies. Please check these policies before you submit any personal information to these websites.
                        </p>

                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>
<!-- END / ACCOMD ODATIONS -->
<script type="text/javascript" src="~/js/lib/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#privacy").addClass("current-menu-item");
    });
</script>