
@{
    ViewBag.Title = "terms";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

    <!-- SUB BANNER -->
<section class="section-sub-banner bg-9">
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>Terms and Conditions</h2>
                @*<p>Lorem Ipsum is simply dummy text of the printing</p>*@
            </div>
        </div>

    </div>

</section>
<!-- END / SUB BANNER -->
<!-- ACCOMD ODATIONS -->
<section class="section-accomd awe-parallax bg-14">
    <div class="container">
        <div class="accomd-modations">
            <div class="row">
                <div class="col-md-12">
                    <div class="accomd-modations-header">
                        <h2 class="heading">Realty Space Privacy Policy</h2>
                        <img src="~/images/icon-accmod.png" alt="icon">
                        <p style="max-width:800px;">
                            <b><h3>Definitions</h3> </b>
                            <p> In these Member Terms and Conditions the following terms shall have the following meanings:</p>

                        <p> "Agent" means an estate agent, lettings agent and/or commercial property agent;</p>
                        <p>"Member" means the Agent or the Developer;</p>
   

                        <p>
                            "Working Day" means any day other than Saturday and Sunday and Bank Holidays on which the banks in Sweden are open for normal business;
                        </p>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- END / ACCOMD ODATIONS -->
<script type="text/javascript" src="~/js/lib/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#terms").addClass("current-menu-item");
    });
</script>